accelerate==1.7.0
antlr4-python3-runtime==4.9.3
bitsandbytes==0.49.2
datasets==3.5.0
evaluate==0.4.6
numpy
peft
PyYAML
rich
rouge_score
safetensors
sentencepiece
sympy==1.14.0
torch==2.4.1+cu124
torchvision==0.19.1+cu124
tqdm
transformers==5.0.0
wandb

